@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Criar variaveis para as corse*/

:root {
    /*CORES*/

    --cor0: ;
    --cor1: ;
    --cor2: ;

    /*FONTES*/

    --fonte-padrao: Arial, Helvetica, sans-serif;

}

html{
    font-size: 10px;
    font-family: 'Poppins', var(--fonte-padrao);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* Seção de apresentação */

.presentation-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#presentation {
    background-image: url(./imagens/imagem01.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#presentation  h1 {
    display: block;
    width: fit-content;
    font-weight: 600;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5 ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .9s;
}
#presentation h1:nth-child(2){
    animation-delay: 2s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.9s;
}

#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    border-radius: 25%;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
}

#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: gold;
    box-shadow: 0px 0px 60px rgba(255, 217, 0, 0.774);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.89);
    transition-duration: .7s;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: texte_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: -1;
}

/*keyframes*/

@keyframes text_reveal {
    100%{
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color: gold;
        font-weight: 700;
    }
}

@keyframes texte_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}